body {
    text-align: center;
    background-color:rgb(42, 101, 124);
  }

.box1 {
    text-align: left;
    width: 720px;
    padding: 20px;
    border: 50px solid rgb(7, 163, 111);
    margin: auto;
}